# /Ignore

# Virtual environment
env/

# Python-related
*.py[cod]
__pycache__/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
.DS_Store
.vscode

ETL_01.py
ETL_02.py