{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div class="container">
    <form method="POST" class="form-signin" style="color:white">
        {{ form.hidden_tag() }}
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <br>
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="New Password") }}
        <br>
        {{ form.confirm_password.label() }}
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
{% endblock %}